<html>
<head>
<title>Theater</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style="margin:0;">
<div class="content">
	<video controls="" autoplay="true" preload="auto" style="width: 80%;background: #000;">
		<source type="video/webm" src="https://devkaystorage.s3.amazonaws.com/breaking+bad+s04e05+720p+brrip+sujaidr.mkv">
	</video>

	<div class="chat-container">
		<div class="chat-settings">
			<p class="couchpotato-title"><strong>CouchPotato</strong></p>
			<div class="chat-settings-right">
				<button class="btn invite-btn">Send</button>
				<div class="settings-profile-image"></div>	
			</div>
		</div>
		<div class="chat-box">
			<!-- <div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>Jane Doe</strong></p>
					<p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>John Doe</strong></p>
					<p class="chat-message">Nostrum aut nemo qui quo suscipit culpa tenetur itaque earum nisi dolore.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>Jane Doe</strong></p>
					<p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>John Doe</strong></p>
					<p class="chat-message">Nostrum aut nemo qui quo suscipit culpa tenetur itaque earum nisi dolore.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>Jane Doe</strong></p>
					<p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>John Doe</strong></p>
					<p class="chat-message">Nostrum aut nemo qui quo suscipit culpa tenetur itaque earum nisi dolore.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>Jane Doe</strong></p>
					<p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>John Doe</strong></p>
					<p class="chat-message">Nostrum aut nemo qui quo suscipit culpa tenetur itaque earum nisi dolore.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>Jane Doe</strong></p>
					<p class="chat-message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>

			<div class="chat-message-container">
				<div class="chat-profile-image"></div>
				<div class="message-contents">
					<p class="message-user"><strong>John Doe</strong></p>
					<p class="chat-message">Nostrum aut nemo qui quo suscipit culpa tenetur itaque earum nisi dolore.</p>
				</div>
			</div> -->
		</div>

		<div class="input-container">
			<span id="chat-input" role="textbox" contenteditable></span>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	const _ = (el) => { return document.querySelector(`#${el}`) ? document.querySelector(`#${el}`) : document.querySelector(`.${el}`) }
	const _all = (el) => { return document.querySelectorAll(`.${el}`) }

	const appendMessageToContainer = (username, message, userColor) => {
        console.log('init appendMessageToContainer');
		let chat_message_container = document.createElement('div')
		let chat_profile_image = document.createElement('div')
		let message_contents = document.createElement('div')
		let message_user = document.createElement('p')
		let chat_message = document.createElement('p')

		// setting classes
		chat_message_container.classList.add('chat-message-container')
		chat_profile_image.classList.add('chat-profile-image')
        chat_profile_image.style.backgroundColor = userColor;

		message_contents.classList.add('message-contents')
		message_user.classList.add('message-user')
		chat_message.classList.add('chat-message')

		// setting extra content
		message_user.style.fontWeight = 'bold'
		message_user.textContent = username
		chat_message.textContent = message

		// adding elements to divs
		message_contents.appendChild(message_user)
		message_contents.appendChild(chat_message)
		chat_message_container.appendChild(chat_profile_image)
		chat_message_container.appendChild(message_contents)
		_('chat-box').prepend(chat_message_container)
	}

	// url parameter setup
	var url = new URL(location.href)
	var search_params = new URLSearchParams(url.search)

	///////////////////////////////////////////////////
	var content = null
	var complete = null

	var video = document.querySelector('video')
	video.addEventListener('complete', (e) => {
		complete = e.target
		console.log('complete set')
	})

	video.addEventListener('loadeddata', (e) => {
		content = e.target
		console.log('canplay set')
	})
	// video.addEventListener('progress', (e) => {
	//   progress = e
	// })
	///////////////////////////////////////////////////

    let username = search_params.get('username');
    let hostUserColor = '#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0');
    let guestUserColor = '#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0');

	var socket = io.connect('https://major-news-rest.loca.lt')
	socket.on('connect', () => {
		console.log('connect listener found')
			socket.emit('join_room', {
			username: search_params.get('username'),
			room: search_params.get('room')
		})
		console.log('emit join_room sent')
	})

	socket.on('join_room_announcement', (data) => {
		console.log(data)
        appendMessageToContainer(data['username'], "has joined the watch party.", data['username'] == username ? hostUserColor : guestUserColor)
	})

	socket.on('video_seeked_announcement', (data) => {
		console.log(data)
		video.currentTime = data.newTime
		video.play()
	})

    socket.on('video_played_announcement', (data) => {
		video.play()
	})

    socket.on('video_paused_announcement', (data) => {
		video.pause()
	})

	socket.on('new_message_announcement', (data) => {
		console.log(data)
		appendMessageToContainer(data['username'], data['message'], data['username'] == username ? hostUserColor : guestUserColor)
	})

    socket.on('send_alert', (data) => {
        if (data['username'] != username) {
            let msg = data['message'].split('/alert ')[1];
            alert(msg);
        }
    })

    document.querySelector('.invite-btn').onclick = ((e) => {
        console.log('send message');
        let message = document.querySelector('#chat-input');
        // appendMessageToContainer(username, message.textContent);
        socket.emit('message', {
            username: search_params.get('username'),
            room: search_params.get('room'),
            message: message.textContent
        });
        message.textContent = '';
    })


	last_seeked_time = -1
	video.addEventListener('seeked', (e)=> {
        console.log(e.target.currentTime)
		console.log('seeked init')
        console.log(`Seek to: ${e.target.currentTime}`);
		if ((e.target.currentTime > last_seeked_time+0.9) || (e.target.currentTime < last_seeked_time - 0.1)) {
            console.log(`Seek to: ${e.target.currentTime}`);
			var newTime = e.target.currentTime
			socket.emit('video_seeked', {
				username: search_params.get('username'),
				room: search_params.get('room'),
				newTime: newTime
			})
			console.log('seeked sent')
			last_seeked_time = newTime
		}
	})

    video.addEventListener('seeking', (e)=> {
        console.log(e.target.currentTime)
        console.log('seeking');
		// console.log('seeked init')
        // console.log(`Seek to: ${e.target.currentTime}`);
		// if ((e.target.currentTime > last_seeked_time+0.9) || (e.target.currentTime < last_seeked_time - 0.1)) {
        //     console.log(`Seek to: ${e.target.currentTime}`);
		// 	var newTime = e.target.currentTime
		// 	socket.emit('video_seeked', {
		// 		username: search_params.get('username'),
		// 		room: search_params.get('room'),
		// 		newTime: newTime
		// 	})
		// 	console.log('seeked sent')
		// 	last_seeked_time = newTime
		// }
	})

    // video.addEventListener('pause', (e)=> {
	// 	console.log('pause init')
	// 	socket.emit('video_paused', {
    //         username: search_params.get('username'),
    //         room: search_params.get('room')
    //     })
    //     console.log('pause sent')
	// })

    // video.addEventListener('play', (e)=> {
	// 	console.log('play init')
	// 	socket.emit('video_played', {
    //         username: search_params.get('username'),
    //         room: search_params.get('room')
    //     })
    //     console.log('play sent')
	// })

	// message handling
	_('chat-input').oninput = ((e) => {
		if ((e.inputType == 'insertParagraph') && (e.target.textContent.trim() !== '')) {
			let message = e.target.textContent
			// clear e.target.textContent
			e.target.textContent = ''
			// emit missage
			socket.emit('message', {
				username: search_params.get('username'),
				room: search_params.get('room'),
				message
			})
		}
	})
</script>
</body>
</html>
